{
	"scripts/**/*": "prettier --write",
	"packs_source/**/*": "node tooling/prettier/prettier-packs.js",
	"lang/**/*": "prettier --write",
	"tooling/**/*": "prettier --write",
	"test/**/*": "prettier --write"
}
